@import "~bootstrap/scss/bootstrap.scss";

.heading {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6d/Star_Wars_Logo_2.svg);
    height: 500px;
    width: 500px;
    object-fit: contain;
}
